@use '../../abstracts/variables' as v;
.header-digimons{
    &__heading{
        line-height: .5;
   
        span{
            color: v.$color-primary
        }
    }
    &__total{
        line-height: 0;
        color: lighten(v.$black, 40%);
    }
}